body {
    background-color: brown;
}

.tittle{
    text-align: center;
    padding: 1em;
    background-color: rgba(115, 115, 219, 0.923);
    border: 5px solid rgb(0,0,0);
}

.head {
    margin-left: 500px;
}

footer{
    background-color: rgba(115, 115, 219, 0.923);
    text-align: center;
    font-size: medium;
    font-style: italic;
    border: 4.5px solid rgb(0,0,0);
}

nav {
    background-color: burlywood;
    float: inline-start;
    padding: 1em;
    font-size: 30px;
    border: 4.5px solid black;
    text-align: center;
}

article {
    text-align: center;
    background-color: burlywood;
    color: brown;
    border: 2.5px solid black;
    padding: 3px;
    margin-right: 400px;
    margin-left: 400px;
}

.text {
    background-color: burlywood;
    color: brown;
    border: 2.5px solid black;
    padding: 3px;
    text-align: center;
}
